upstream backend {
{% for item in backend_server_list %}
  server {{ item }};
{% endfor %}
}

server {
  listen 80;
  server_name  {{ ansible_host }};

  location / {
    proxy_pass http://backend;
  }
}
