[defaults]
inventory         = inventory
host_key_checking = False
force_color       = True
forks = 10

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
